<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>/login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>HandleWxNum</servlet-name>
		<servlet-class>com.cli.servlets.HandleWxNum</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>HandleArticle</servlet-name>
		<servlet-class>com.cli.servlets.HandleArticle</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>HandleWxNumOp</servlet-name>
		<servlet-class>com.cli.servlets.HandleWxNumOp</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>HandleArticleOp</servlet-name>
		<servlet-class>com.cli.servlets.HandleArticleOp</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchSpider</servlet-name>
		<servlet-class>com.cli.servlets.SearchSpider</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.cli.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleWxNum</servlet-name>
		<url-pattern>/handleWxNum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HandleArticle</servlet-name>
		<url-pattern>/handleArticle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HandleWxNumOp</servlet-name>
		<url-pattern>/handleWxNumOp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HandleArticleOp</servlet-name>
		<url-pattern>/handleArticleOp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSpider</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
</web-app>